<loading-spinner *ngIf="showSpinner"></loading-spinner>
<div class="main-container">
    <div class="title-container">
        <img class="leaf-decoration-left" src="../../../assets/imgs/leaf-faded.png" alt="Dark leaf">
        <h1>{{albumTitleDisplayURL}}.</h1>
        <img class="leaf-decoration-right" src="../../../assets/imgs/leaf-faded.png" alt="Dark leaf">
    </div>
    <ng-container *ngIf="galleryItems?.length > 0">
        <ngx-masonry [options]="{ percentPosition: true, gutter: 10, columnWidth: '.masonry-item' }" id="masonry">
            <div ngxMasonryItem class="masonry-item" *ngFor="let item of galleryItems">
             <img class="cover-img" src="{{item.downloadURL}}" alt="{{item.albumTitleDisplay}}" (load)="masonry.layout()">
           </div>
        </ngx-masonry>
    </ng-container>
    <ng-container *ngIf="galleryItems?.length == 0">
        <p>Zatial neboli pridané žiadne fotkz.</p>
    </ng-container>
</div>
<footer-component></footer-component>
