@font-face {
    font-family: "Oranienbaum";
    src: local("Oranienbaum"),
      url(../../../assets/fonts/Oranienbaum-Regular.ttf) format("truetype");
  }

@import "../../../assets/styles/default.scss";

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s linear forwards;
    min-height: 100vh;
}

h1 {
    font-family: "Oranienbaum";
    font-weight: 200;
    text-transform: capitalize;
    font-size: $h1-size-l;
    color: $primary-color;
    margin: 90px 0px;
}

ngx-masonry {
    position: relative;
    width: 90vw;
    margin-bottom: 50px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    img {
        height: 110px;
        width: 50px;
        &:first-child {
            margin-right: 50px;
        }
        &:last-child {
            margin-left: 50px;
            transform: rotateY(180deg);
        }
    }
}

.masonry-item { 
    width: calc(33.333% - 7px);
    // margin: 1%;
    margin-bottom: 4px;
    overflow: hidden;
    cursor: pointer;
    .cover-img {
        width: 100%;
    } 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {
    .title-container {
        img {
            &:first-child {
                margin-left: 10px;
            }
            &:last-child {
                margin-right: 10px;
            }
        }
    }

    .masonry-item {
        width: calc(50% - 6px);
    }

    h1 {
        font-size: 50px;

    }
}