.dashboard-main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #364134;
  font-family: "Oranienbaum";
  //   font-weight: 200;
  color: #fff;
  h1 {
    font-size: 70px;
    font-weight: 200;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 45px;
      font-size: 30px;
      font-weight: 200;
      text-align: center;
      color: #fff;
      transition: 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        width: 50px;
        height: 2px;
        background: #bcbdbc;
        margin: 0 10px;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        transform: scale(1.03);
        &::before,
        &::after {
          content: "";
          width: 0px;
          height: 2px;
          background: #bcbdbc;
          margin: 0 10px;
        }
      }
    }
  }
}
