<div class="dashboard-main-container">
    <h1>Čo by si chcel robiť?</h1>
    <ul>
        <li routerLink="/create-album">Vytvoriť album</li>
        <li routerLink="/admin-categories">Zmeniť & Vymazať album</li>
        <!-- <li routerLink="/admin-categories">Vymazať album</li> -->
        <li routerLink="/create-category">Vytvoriť kategóriu</li>
        <li routerLink="/admin-categories">Zmeniť & Vymazať kategóriu</li>
        <!-- <li routerLink="/admin-categories">Vymazať kategóriu</li> -->
    </ul>
    <logout></logout>
</div>