<ng-container *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
</ng-container>

<form [formGroup]="this.categoryForm">
    <label for="categoryTitle">Kategoria:</label>
    <input type="text" name="categoryTitle" #categoryTitle formControlName="categoryTitle" [value]="categoryTitle">
    <button (click)="setCategoryTitle(categoryTitle.value)">Save</button>
</form>

<div class="dropzone" 
    dropzone
    (hovered)="toggleHover($event)"
    (dropped)="onDrop($event)"
    [class.hovering]="isHovering">

    <h3>Potiahni fotku sem.</h3>
    <p>alebo</p>
    <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)">
    <label for="fileDropRef">Browse for file</label>
</div>

<button *ngIf="!paramId" (click)="publishCategory()">Publish</button>
<button (click)="cancelCreation()">Cancel</button>
    
<div *ngIf="snapshot | async as snap">

    <div *ngIf="percentage | async as pct">
        <ng-container *ngIf="pct !== 100">
            <div class="progress-bar-container">
                <div class="progress-bar" 
                    [ngStyle]="{'width': pct + '%'}">
                </div>
            </div>
            <button (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
            <button (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">Resume</button>
            <button (click)="task.cancel()">Cancel</button>
            {{ formatBytes(snap.bytesTransferred) }} of {{ formatBytes(snap.totalBytes) }} 
            <!-- {{ pct | number : '1.0-0' }}% -->
        </ng-container>
    </div>

    <!-- <div class="result-img-container" *ngIf="downloadURL as url">
        <img [src]="url"><br>
        <button (click)="makeCoverPhoto(albumId, url)">Choose as cover for album</button>
        <button (click)="deleteImage(url)">Delete</button>
    </div> -->
</div>

<ng-container *ngIf="categoryResults && categoryDownloadURL">
    <div class="column grid-container">
        <div class="img-container" *ngFor="let files of categoryResults">
          <img src="{{files.downloadURL}}" alt="">
          <div class="button-container">
            <button (click)="deleteImage(files.id, files.downloadURL)">Delete</button>
          </div>
        </div>
    </div>
</ng-container>
