<div class="wrapper">
    <h1 class="item-title large-h1 margin-top-50">{{ urlParam }}</h1>
    <div class="mosaic-container margin-btm-50">
        <div class="mosaic-item relative" *ngFor="let album of albumList">
            <!-- <h1 class="item-title large-h1">{{ album.albumTitle }}</h1> -->
            <img src="{{ album.coverImageURL }}" alt="{{ album.albumTitle }}">
            <img routerLink="/manage-uploader/{{album.id}}" class="absolute-bottom-right button-svg" src="../../../assets/svg/Edit_Pencil_01.svg" alt="">
            <!-- <div class="basic-flex-container full-width">
            </div> -->
        </div>
    </div>
</div>