    
<div *ngIf="snapshot | async as snap">

    <div *ngIf="percentage | async as pct">
        <ng-container *ngIf="pct !== 100">
            <div class="progress-bar-container">
                <div class="progress-bar" 
                    [ngStyle]="{'width': pct + '%'}">
                </div>
            </div>
            <button (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
            <button (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">Resume</button>
            <button (click)="task.cancel()">Cancel</button>
            {{ formatBytes(snap.bytesTransferred) }} of {{ formatBytes(snap.totalBytes) }} 
            <!-- {{ pct | number : '1.0-0' }}% -->
        </ng-container>
    </div>

    <!-- <div class="result-img-container" *ngIf="downloadURL as url">
        <img [src]="url"><br>
        <button (click)="makeCoverPhoto(albumId, url)">Choose as cover for album</button>
        <button (click)="deleteImage(url)">Delete</button>
    </div> -->
</div>