.upload-component-container {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  padding: 0px 10px;
  margin: 0 auto;
  &:hover {
    box-shadow: 1px 1px 10px #dcdcdc;
  }
}

.upload-details-container {
  width: 100%;
  padding: 10px;
  .percentage-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-family: "Comfortaa", cursive;
      font-size: 15px;
      color: #000;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 8px;
    }

    .progress-bar-container {
      width: 100%;
      height: 10px;
      margin: 0 auto;
      border: 1px solid #364134;
    }

    .progress-bar {
      background-color: #364134;
      height: 100%;
      transition: 0.5s ease;
    }
  }
}

.small-svg {
  width: 35px;
  height: 35px;
  padding: 10px;
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.large-svg {
  width: 50px;
  height: 50px;
}
