<div class="wrapper">
    <div class="basic-flex-container-row margin-top-50">
        <div class="basic-flex-row">
            <input type="text" name="albumTitleEdit" #albumTitleEdit [value]="albumTitle" [ngClass]="{'title-no-edit': albumTitleEditState == false, 'title-edit' : albumTitleEditState == true }" [disabled]="!albumTitleEditState">
            <img class="button-svg" (click)="toggleEdit()" *ngIf="!albumTitleEditState" src="../../../assets/svg/Edit_Pencil_01_black.svg"/>
            <img class="button-svg" (click)="updateAlbumTitle(albumTitleEdit.value)" *ngIf="albumTitleEditState" src="../../../assets/svg/Check.svg"/>
        </div>
        <button (click)="deleteAlbum()" class="green-button">Vymazať album</button>  
    </div>

    <ng-container *ngIf="fileNameErrorList.length >= 1">
        <p class="margin-top-50">Nasledujúce fotky presiahly veľkosť 3.5Mb:</p>
        <ng-container *ngFor="let file of fileNameErrorList">
        <p>{{ file }}</p>
        </ng-container>
    </ng-container>

    <div class="dropzone margin-top-50" 
        dropzone
        (hovered)="toggleHover($event)"
        (dropped)="onDrop($event)"
        [class.hovering]="isHovering">

        <img src="../../../assets/svg/Cloud_Upload.svg" alt="file upload">
        <h3>Potiahni všetky fotky sem</h3>
        <p class="line-on-side">alebo</p>
        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)">
        <label for="fileDropRef">Vyber fotky</label>
    </div>

    <div class="columns-container">
        <div class="column grid-container">
            <div class="img-container" *ngFor="let files of uploadedFiles">
                <img src="{{files.downloadURL}}" alt="">
                <div class="button-container">
                    <img (click)="deleteImage(files.id, files.downloadURL, files.isCover)" src="../../../assets/svg/Trash_Empty.svg" class="xs-button-svg" alt="trash can">
                    <img *ngIf="!files.isCover" (click)="makeCoverPhoto(fsId, files.downloadURL, files.id, files.isCover)" src="../../../assets/svg/Select_Multiple.svg" class="xs-button-svg" alt="select multiple">
                </div>
            </div>
        </div>
        <div class="column">
            <div *ngFor="let file of files">
                <upload-task [file]="file" [documentTitle]="albumTitle" [fileId]="fsId" [collectionName]="'gallery'"></upload-task>
            </div>
        </div>
    </div>
</div>