<back-button></back-button>
<div class="wrapper">
  <app-create-album-title></app-create-album-title>
  
  <!-- <ng-container *ngIf="fileNameErrorList.length >= 1">
    <p class="margin-top-50">Nasledujúce fotky presiahly veľkosť 3.5Mb:</p>
    <ng-container *ngFor="let file of fileNameErrorList">
    <p>{{ file }}</p>
    </ng-container>
  </ng-container> -->
  
  <ng-container *ngIf="albumTitleDisplay">
    <div class="basic-flex-container-row margin-top-50">
      <div class="basic-flex-row">
          <input (keyup)="checkAlbumTitleAvailability($event)" type="text" name="albumTitleEdit" #albumTitleEdit [value]="albumTitleDisplay" [ngClass]="{'title-no-edit': albumTitleEditState == false, 'title-edit' : albumTitleEditState == true }" [disabled]="!albumTitleEditState">
          <!-- <svg class="button-svg" (click)="toggleEdit()" *ngIf="!albumTitleEditState" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 20V21C8.26522 21 8.51957 20.8946 8.70711 20.7071L8 20ZM4 20H3C3 20.5523 3.44772 21 4 21V20ZM4 16L3.29289 15.2929C3.10536 15.4804 3 15.7348 3 16H4ZM15.2929 4.70708L16 5.41418L16 5.41418L15.2929 4.70708ZM16.7071 4.70708L16 5.41418L16 5.41418L16.7071 4.70708ZM19.2929 7.29286L20 6.58576V6.58576L19.2929 7.29286ZM19.2929 8.70708L18.5858 7.99997L19.2929 8.70708ZM8 19H4V21H8V19ZM5 20V16H3V20H5ZM4.70711 16.7071L16 5.41418L14.5858 3.99997L3.29289 15.2929L4.70711 16.7071ZM16 5.41418L18.5858 7.99997L20 6.58576L17.4142 3.99997L16 5.41418ZM18.5858 7.99997L7.29289 19.2929L8.70711 20.7071L20 9.41418L18.5858 7.99997ZM18.5858 7.99997V7.99997L20 9.41418C20.781 8.63314 20.781 7.36681 20 6.58576L18.5858 7.99997ZM16 5.41418H16L17.4142 3.99997C16.6332 3.21892 15.3668 3.21892 14.5858 3.99997L16 5.41418Z" fill="#000"/>
              <path d="M12 8L16 12" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>                    
          <svg class="button-svg" (click)="updateAlbumTitle(albumTitleEdit.value)" *ngIf="albumTitleEditState" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 12L10.2426 16.2427L18.7279 7.75739" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> -->
          <img class="button-svg" (click)="toggleEdit()" *ngIf="!albumTitleEditState" src="../../../assets/svg/Edit_Pencil_01_black.svg"/>
          <img class="button-svg" (click)="updateAlbumTitle(albumTitleEdit.value)" *ngIf="albumTitleEditState" src="../../../assets/svg/Check.svg"/>
      </div>
      <div class="basic-flex-row">
        <button (click)="finishAlbum()" class="green-button">Zverejniť Album</button>
        <button (click)="cancelAlbum()" class="white-button">Zrušiť album</button> 
      </div> 
    </div>

    <div class="dropzone margin-top-50" 
        dropzone
        (hovered)="toggleHover($event)"
        (dropped)="onDrop($event)"
        [class.hovering]="isHovering">

        <img src="../../../assets/svg/Cloud_Upload.svg" alt="file upload">  
        <h3>Potiahni všetky fotky sem</h3>
        <p class="line-on-side">alebo</p>
        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)">
        <label for="fileDropRef">Vyber fotky</label>
    </div>
    
    <div class="columns-container">
      <div class="column grid-container">
          <div class="img-container" *ngFor="let files of uploadedFiles">
              <img src="{{files.downloadURL}}" alt="">
              <div class="button-container">
                <img (click)="deleteImage(files.id, files.downloadURL, files.isCover)" src="../../../assets/svg/Trash_Empty.svg" class="xs-button-svg" alt="trash can">
                <img *ngIf="!files.isCover" (click)="makeCoverPhoto(fsId, files.downloadURL, files.id, files.isCover)" src="../../../assets/svg/Select_Multiple.svg" class="xs-button-svg" alt="select multiple">
              </div>
          </div>
      </div>
      <div class="column">
          <div *ngFor="let file of files">
              <upload-task [file]="file" [documentTitle]="albumTitleDisplay" [collectionName]="'gallery'" [albumId]="fsId" [categoryId]="categoryId" (uploaded)="onImageUploaded()"></upload-task>
          </div>
      </div>
    </div>
  </ng-container>
</div>