@font-face {
  font-family: "Oranienbaum";
  src: local("Oranienbaum"),
    url(./assets/fonts/Oranienbaum-Regular.ttf) format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  overflow-x: hidden;
}

.toast-bottom-center {
  bottom: 2%;
  right: 0;
  width: 100%;
}

.line-on-side {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    width: 50px;
    height: 1px;
    background: #bcbdbc;
    margin: 0 10px;
  }
}

.no-margin {
  margin: 0;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-btm-50 {
  margin-bottom: 50px !important;
}

button {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 17px;
  border: 1px solid #364134;
  transition: 0.3s ease-in-out;
  box-shadow: 1px 1px 10px #a1a1a1;
  cursor: pointer;
}

.white-button {
  background: #fff;
  color: #364134;
  box-shadow: none;
  &:hover {
    // background: #364134;
    // color: #fff;
    transform: scale(1.02);
    opacity: 0.8;
  }
}

.green-button {
  background: #364134;
  color: #fff;
  box-shadow: none;
  &:hover {
    // background: #fff;
    // color: #364134;
    transform: scale(1.02);
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.6;
  }
}

.wrapper {
  width: 90%;
  // min-height: 100vh;
  margin: 0 auto;
  // overflow: hidden;
}

.basic-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.basic-flex-item {
  width: calc(98% / 3);
  margin: 0% 1%;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}

.basic-flex-container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.basic-flex-row {
  display: flex;
  align-items: center;
  button {
    &:first-child {
      margin-right: 10px;
    }
  }
}

.item-title {
  text-transform: capitalize;
  text-align: center;
}

.general-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.general-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input,
select {
  border: none;
  border-bottom: 1px solid #364134;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  font-weight: 200;
  padding: 5px 0px;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  &:focus {
    outline: none;
    transform: scale(1.01);
  }
  &:hover {
    transform: scale(1.01);
  }
}

label {
  font-size: 22px;
  margin-bottom: 10px;
}

.large-h1 {
  font-family: "Oranienbaum";
  font-size: 70px;
  font-weight: 200;
  color: #364134;
  margin-top: 0;
}

.informational-p {
  text-align: center;
  color: #888;
  font-size: 15px;
}

.full-width {
  width: 100%;
}

.full-height {
  min-height: 100vh;
}

.relative {
  position: relative;
}

.absolute-bottom-center {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
}

.absolute-bottom-right {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.svg-button {
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
    transform: rotate(-12deg);
  }
}

.xs-button-svg {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 2px;
  width: 20px !important;
  height: 20px !important;
  &:hover {
    opacity: 0.8;
    transform: rotate(-12deg);
  }
}

.button-svg {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 2px;
  width: 30px !important;
  height: 30px !important;
  &:hover {
    opacity: 0.8;
    transform: rotate(-12deg);
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80vw;
  font-weight: 200;
  height: 300px;
  border: 1px solid #364134;
  background: #364134;
  margin: 10px 0;
  transition: 0.3s ease-in-out;

  &.hovering {
    transform: scale(1.03) rotate(0.3deg);
    z-index: 1;
    box-shadow: 1px 1px 10px #545454;
  }

  h3 {
    font-family: "Oranienbaum";
    font-size: 22px;
    color: #fff;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  p {
    font-family: "Oranienbaum";
    font-weight: 200;
    color: #c0c0c0;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  input#fileDropRef {
    display: none;
  }

  label {
    font-family: "Comfortaa", cursive;
    background: #fff;
    border: 1px solid #fff;
    padding: 15px 20px;
    color: #364134;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 10px #a1a1a1;
    &:hover {
      cursor: pointer;
      background: #364134;
      border: 1px solid #fff;
      color: #fff;
    }
  }
}

.result-img-container {
  max-width: 100%;
  img {
    max-width: 100%;
  }
}

.columns-container {
  display: flex;
}

.column {
  width: 50%;
}

.img-container {
  position: relative;
  max-height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(5px);
  }
}

.grid-container {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
}

.title-edit {
  border: none;
  border-bottom: 1px solid #364134;
  background-color: transparent !important;
  color: #364134;
  font-family: "Oranienbaum";
  font-weight: 200;
  font-size: 35px;
  text-transform: capitalize;
  max-width: 320px;
  &:focus {
    outline: none;
  }
}

.title-no-edit[type="text"]:disabled {
  border: none;
  background-color: transparent !important;
  color: #364134;
  font-family: "Oranienbaum";
  font-weight: 200;
  font-size: 35px;
  text-transform: capitalize;
  max-width: 320px;
}

.mosaic-container {
  column-count: 3;
  column-gap: 5px;
  .mosaic-item {
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media only screen and (max-width: 480px) {
  .basic-flex-container {
    flex-wrap: wrap;
  }

  .basic-flex-item {
    width: unset;
    margin-bottom: 20px;
  }

  .basic-flex-container-row {
    flex-direction: column;
    .basic-flex-row {
      &:first-child {
        justify-content: space-between;
      }
    }
  }

  .basic-flex-row {
    width: 100%;
    &:last-child {
      margin-top: 15px;
    }
  }

  .column {
    width: unset;
  }

  .dropzone {
    label {
      font-size: 12px;
      padding: 12px 16px;
    }
  }

  .large-h1 {
    font-size: 50px;
  }

  .general-form {
    width: 300px;
  }

  .title-no-edit[type="text"]:disabled,
  .title-edit {
    max-width: 280px;
    font-size: 32px;
  }

  .grid-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

// .img-container:hover .left {
//   visibility: hidden;
// }

// progress::-webkit-progress-value {
//   transition: width 0.1s ease;
// }
