$h1-size: 75px;
$h1-size-l: 95px;
$p-size: 22px;
$btn-font-size: 18px;
$margin-between-text: 50px;
$gray-font-color: #363636;
$letter-spacing: 5px;
$primary-color: #364134;


$h1-size-mobile: 45px;
$h1-size-l-mobile: 65px;
$p-size-mobile: 15px;