.dashboard-button-container {
  position: fixed;
  bottom: 2%;
  right: 1%;
  padding: 17px 18px;
  background-color: #364134;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #6d6d6d;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 1;
  &:hover {
    opacity: 0.8;
  }
}
